<div class = "col-sm-12 addExchangeRatePartal">

<div ng-init="getCurrentExchangeRate()">
	<form name = "addExchangeRate" class = "formForAddExchangeRate">
		<fieldset>
			<span> Code Purchasing Middle Sale</span>
			<div ng-repeat="exchangeInCurrency in newCurrentExchange.exchangeInCurrencies">
				<label class = "addExchangeRateInputWidth">{{exchangeInCurrency.currency.code}}</label>
				<input class = "addExchangeRateInputWidth" type = "number" value = {{exchangeInCurrency.purchasingRate}} >
				<input class = "addExchangeRateInputWidth" type = "number" value = {{exchangeInCurrency.middleRate}}>
				<input class = "addExchangeRateInputWidth" type = "number" value = {{exchangeInCurrency.saleRate}}>
			</div>
			
		</fieldset>
		<button ng-click="addExchangeRatee()" class="btn btn-default navbar-btn" ><span class="glyphicon glyphicon-check"></span>Create</button>
		
	</form>
</div>