<div ng-init = "findAllExchangeRates()" class = "col-sm-2">
	<button ui-sref = ".addExchangeRate" class="btn btn-default navbar-btn" ><span class="glyphicon glyphicon-user"></span>Add exchangeRate</button>
	<form>
	<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon">
				<i class="fa fa-search"></i>
			</div>
			<input type="text" class="form-control" placeholder="Filter rates..." ng-model="filterRates">
		</div>
	</div>
</form>
	<table class="table ">
		<caption class = "caption">All exchange rates</caption>
		<tbody>
			<tr>
				<th>Number</th>
				<th>Date formed</th>
				<th>Date start</th>
				<th>Action</th>
			</tr>
			<tr ng-repeat="exchangeRate in exchangeRates">
				<td>{{exchangeRate.numberOfExchangeRate}}</td>
				<td>{{exchangeRate.date}}</td>
				<td>{{exchangeRate.startDate}}</td>
				<td>
					<button class = "btn" ng-click = exchangeRateDetails(exchangeRate.id)><span class = "glyphicon glyphicon-th"></span></button>
				</td>
			</tr>
		</tbody>
	</table>
	<button class = "btn btn-default" ui-sref =".searchExchangeRates" ><span class = "glyphicon glyphicon-search"></span>  Search</button> 
	
</div>


<div ui-view ></div>