<div class = "col-sm-4">

<div ng-init="findAllIndividualBills()">
 <form>
   <div class="form-group">
     <div class="input-group">
       <div class="input-group-addon"><i class="fa fa-search"></i></div>
       <input type="text" class="form-control" placeholder="Filter persona accounts..." ng-model="filterIndividualBill">
     </div>      
   </div>
 </form>
<table class="table table-bordered" border="1">
		<tbody>
			<tr>
				<th>Account number</th>
				<th>Client name</th>
				<th>Action</th>
			</tr>
			<tr ng-repeat="individualBill in allIndividualBills | filter:filterIndividualBill">
				<td>{{individualBill.accountNumber}}</td>
				<td>{{individualBill.client.applicant}}</td>
				<td colspan="2">
					<button class = "btn" ui-sref ="banker.detailsAboutIndividual" ng-click = findClientById(individualBill.client.id)><span class = "glyphicon glyphicon-th"></span> Details</button>
					<button class = "btn" ui-sref ="banker.closeBill" ng-click = "closeBill(individualBill)"><span class = "glyphicon glyphicon-remove"></span>  Close account</button> 
					<button class = "btn" ui-sref = "banker.depositSlipsForAccount" ng-click = "findAllDepositSlipsForAccount(individualBill.accountNumber)"><span class = "glyphicon glyphicon-tasks"></span> Daily balance</button>
				</td>
			</tr>
		</tbody>
	</table>

<button class = "btn btn-default" ui-sref ="banker.addIndividualBill" ><span class = "glyphicon glyphicon-plus"></span>  Add</button> 
<button class = "btn btn-default" ui-sref =".searchIndividualBill" ><span class = "glyphicon glyphicon-search"></span>  Search</button> 


</div>
<div ui-view></div>
</div>

