<div class = "col-sm-4">

<div ng-init="findAllLegalBills()">
 <form>
   <div class="form-group">
     <div class="input-group">
       <div class="input-group-addon"><i class="fa fa-search"></i></div>
       <input type="text" class="form-control" placeholder="Search legal bill..." ng-model="searchLegalBill">
     </div>      
   </div>
 </form>
<table class="table table-bordered" border="1">
		<tbody>
			<tr>
				<th>Account number</th>
				<th>Client name</th>
				<th>Action</th>
			</tr>
			<tr ng-repeat="legalBill in allLegalBills | filter:searchLegalBill">
				<td>{{legalBill.accountNumber}}</td>
				<td>{{legalBill.client.applicant}}</td>
				<td colspan="2">
					<button class = "btn" ui-sref ="banker.readOnlyDetailsAboutLegal" ng-click = getDetailsAboutLegal(legalBill.client.id)><span class = "glyphicon glyphicon-th"></span> Details</button>
					<button class = "btn" ui-sref ="banker.closeBill" ng-click = "closeBill(legalBill)"><span class = "glyphicon glyphicon-remove"></span>  Close account</button>
					<button class = "btn" ui-sref = "banker.depositSlips" ng-click = "getClientAccount(legalBill.accountNumber)"><span class = "glyphicon glyphicon-tasks"></span> Daily balance</button>
				</td>
				

			</tr>
		</tbody>
	</table>

<button class = "btn btn-default" ui-sref ="banker.addLegalBill" ><span class = "glyphicon glyphicon-plus"></span>  Add</button> 

</div>
<div ui-view></div>
</div>

