<h1>List of unprocessed deposit slips</h1>



<table ng-init="findNotProcessedDepositSlips()"class="table table-bordered" border="1">

  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Filter transactions..." ng-model="filterDepositSlip">
      </div>      
    </div>
  </form>

	<tbody>
			<tr>
				<th>Id</th>
				<th>Date</th>
				<th>Type of deposit slip</th>
				<th>Bill of receiver</th>
				<th>Bill of debtor</th>
				<th>Amount</th>
				<th>Status</th>

			<tr ng-repeat="depositSlip in allNotProcessedDepositSlips | filter:filterDepositSlip">
				<td> {{depositSlip.id}}</td>
				<td>{{depositSlip.depositSlipDate}}</td>
				<td>{{depositSlip.type}}</td>
				<td>{{depositSlip.billOfReceiver}}</td>
				<td>{{depositSlip.billOfDeptor}}</td>
				<td>{{depositSlip.amount}}</td>
				<td>{{depositSlip.status}}</td>
			</tr>
		</tbody>
</table>




<button class = "btn btn-default" ng-click = "exportDepositSlips()" ><span class = "glyphicon glyphicon-export"></span>  Export</button> 
<button class = "btn btn-default" ui-sref =".searchDepositSlip" ><span class = "glyphicon glyphicon-search"></span>  Search</button> 
<button class = "btn btn-default" data-toggle="modal" data-target="#import" ><span class = "glyphicon glyphicon-search"></span>  Import</button> 



		  <input type = "file" id = "tempp"/>
		  
		  <button ng-click = "uploadFile()">upload me</button> 

<div id="import"  class="modal fade" role="dialog" style="color:black;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
       
      </div>
      <div class="modal-body">
<!--       <form id="uploadbanner" enctype="multipart/form-data" method="post" action="depositSlip/upload"> -->
<!--    <input id="file" name="file" type="file" multiple /> -->
<!--    <input type="submit" value="submit" id="submit"  class="btn btn-default" /> -->
   
<!-- 	</form> -->
			<input type="text" value = "123"  ng-model= "$parent.text">
		  <input type = "file" ng-model = "$parent.$parent.temp"/>
		  <button ng-click = "uploadFile()">upload me</button> 
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"></button>
      </div>
    </div>

  </div>
</div>
<div ui-view></div>