<div class="col-sm-6">
	<form name="searchCodeBookActivity">

		<label>Code</label> <input type="text" class="form-control"
			ng-model="$parent.$parent.codeBookActivity.code"></input> <label>Name</label>
		<input type="text" class="form-control"
			ng-model="$parent.$parent.codeBookActivity.name"></input>

		<button class="btn btn-default" ng-click="searchCodeBookActivities()">
			<span class="glyphicon glyphicon-ok"></span>Search
		</button>
		<button class = "btn btn-default" ng-click = "resetSearchCodeBookActivities()"><span class = "glyphicon glyphicon-refresh"></span>Reset</button>
		
	</form>
</div>