<div class = "col-sm-4">

<div ng-init="findAllCountries()">
<!--  Search: <input type="text" class = "form-control"  ng-model="filter.name">-->
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Filter country..." ng-model="filterCountry">
      </div>      
    </div>
  </form>
<table class="table table-bordered" border="1">
		<tbody>
			<tr>
				<th>Code</th>
				<th>Name</th>
				<th colspan="2">Action</th>
			</tr>
			<tr ng-repeat="country in allCountries  | filter:filterCountry">
				<td>{{country.code}}</td>
				<td>{{country.name}}</td>
				<td colspan="2">
					<button class = "btn"  ng-click = findCountryById(country.id,$index)><span class = "glyphicon glyphicon-pencil"></span></button>
					<button class = "btn" ng-click = deleteCountry(country.id,$index)><span class = "glyphicon glyphicon-remove"></span></button>
				</td>
			</tr>
		</tbody>
	</table>

<button class = "btn btn-default" ui-sref =".addCountry" ><span class = "glyphicon glyphicon-plus"></span>  Add</button> 
<button class = "btn btn-default" ui-sref =".searchCountry" ><span class = "glyphicon glyphicon-search"></span>  Search</button> 

</div>
<div ui-view></div>
</div>

