<div class = "titlee" >
	<span class = "banker">Banker: {{banker.firstname}}</span><span class="bank">Bank: {{banker.bank.name}}</span>	
</div>
<div class="actualExchangeRate">
	<button ui-sref = "banker.exchangeRates" class="btn btn-default navbar-btn" ><span class="glyphicon glyphicon-user"></span>History of exchange of rates</button>
	<table class="table table-bordered exchangeInCurrencyTable">
		<caption class = "caption">Exchange rate</caption>
		<caption class = "caption">Date:  {{currentExchangeRate.startDate}}</caption>
		<tbody>
			<tr>
				<th>Currency</th>
				<th>Purchasing</th>
				<th>Midd</th>
				<th>Sale</th>
			</tr>
			<tr ng-repeat="exchangeInCurrency in currentExchangeRate.exchangeInCurrencies">
				<td>{{exchangeInCurrency.currency.code}}</td>
				<td>{{exchangeInCurrency.purchasingRate}}</td>
				<td>{{exchangeInCurrency.middleRate}}</td>
				<td>{{exchangeInCurrency.saleRate}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="billInBank">
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Filter clients..." ng-model="filterClients">
      </div>      
    </div>
  </form>
	<table class="table table-bordered">
		<caption class = "caption">Clients</caption>
		<tbody>
			<tr>
				<th>Type</th>
				<th>Client name</th>
				<th>Mail</th>
				<th>Account number</th>
				<th>Current amount</th>
				<th >Action </th>
			</tr>
			<tr ng-repeat="bill in bills | filter:filterClients">
				<td>{{bill.client.type}}</td>
				<td>{{bill.client.applicant}}</td>
				<td>{{bill.client.mail}}</td>
				<td>{{bill.accountNumber}}</td>
				<td>{{bill.client.jmbg}}</td>
				<td >
					<button class = "btn btn-default navbar-btn" data-toggle="modal" data-target="#chooseDateForPDF" ng-click = "setBillInScope(bill.id)">PDF</button>
					<button class = "btn btn-default navbar-btn" data-toggle="modal" data-target="#chooseDate" ng-click = "setBillInScope(bill.id)" >Export</button>
					<button type="button" class="btn btn-default" ng-click = "showDepositSlipsForBill(bill.id)" data-toggle="modal" data-target="#showDepositSlips"> Deposit slips</button>
					<!-- ng-click = "exportBalanceFromDateToDateForBill(bill.id)"  -->
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div id="showDepositSlips"  class="modal fade" role="dialog" style="color:black;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" >Choose country</h4>
      </div>
      <div class="modal-body">
        
        <table class="table table-bordered" border="1">
		<tbody>
			<tr>
				<th>Type</th>
				<th>Deptor</th>
				<th>Reciever</th>
				<th>Amount</th>
			</tr>
			<tr ng-repeat="depositSlip in depositSlipsForBill" ng-click="openDepositSlipForClient(depositSlip);">
				<td>{{depositSlip.type}}</td>
				<td>{{depositSlip.deptor}}</td>
				<td>{{depositSlip.receiver}}</td>
				<td>{{depositSlip.amount}}</td>
			</tr>
		</tbody>
		</table>
        
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
      </div>
    </div>

  </div>
</div>


<div id="chooseDate"  class="modal fade" role="dialog" style="color:black;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" >Choose dates</h4>
      </div>
      <div class="modal-body">
		<label class = "infoLabel" > From date</label>
		<input type="date" class = "form-control" ng-model = "$parent.chossenDates.fromDate">
 		<label class = "infoLabel"> To date</label> <!-- datum valute -->
		<input type="date" class = "form-control" ng-model = "$parent.chossenDates.toDate">
	  </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal" ng-click = "exportBalanceFromDateToDateForBill()">OK</button>
       <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
      </div>
    </div>

  </div>
</div>



<div id="chooseDateForPDF"  class="modal fade" role="dialog" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" >Choose dates</h4>
      </div>
      <div class="modal-body">
 
		<table>
			<tr><label class = "infoLabel" > From date</label>
				<input type="date" class = "form-control" ng-model = "$parent.chossenDatesForPdf.fromDate">
			</tr>
			<tr>
				<label class = "infoLabel"> To date</label> <!-- datum valute -->
				<input type="date" class = "form-control" ng-model = "$parent.chossenDatesForPdf.toDate">
			</tr>
		</table>	
        
       
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal" ng-click = "makePDF()">OK</button>
       <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
      </div>
    </div>

  </div>
</div>