.bg{
	color: white;
	background: url(images/bank.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.selectedRow{
    /* color:white; */
    background: #ffff6f;
}

.btn{
    color:white;
    background: #8c8c8c;
}

.btn:hover { 
    background: #a6a6a6;
}

.table{
	background-color: #8c8c8c;
 	border: 3px solid #eeefe6;
 }

.loginForm {
	width : 25%;
	margin-left : 500px;
	margin-top : 200px;
}

.caption {
 	border: 3px solid #eeefe6;
	border-bottom : 0px;
	font-size : 20px;
	background-color: #8c8c8c;
}

.exchangeInCurrencyTable {
	width : 30%	
}

.choseCountryButton{
	margin-top : -55px;
	margin-left : 220px;
}